In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

In [2]:
dataset = pd.read_csv('Algerian_forest_fires_dataset_UPDATE.csv',header = 1)
dataset.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
0,01,06,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire
1,02,06,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire
2,03,06,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire
3,04,06,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire
4,05,06,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246 entries, 0 to 245
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          246 non-null    object
 1   month        245 non-null    object
 2   year         245 non-null    object
 3   Temperature  245 non-null    object
 4    RH          245 non-null    object
 5    Ws          245 non-null    object
 6   Rain         245 non-null    object
 7   FFMC         245 non-null    object
 8   DMC          245 non-null    object
 9   DC           245 non-null    object
 10  ISI          245 non-null    object
 11  BUI          245 non-null    object
 12  FWI          245 non-null    object
 13  Classes      244 non-null    object
dtypes: object(14)
memory usage: 27.0+ KB

In [4]:
# data cleaning

In [5]:
## missing values
dataset.isnull().sum()

day            0
month          1
year           1
Temperature    1
 RH            1
 Ws            1
Rain           1
FFMC           1
DMC            1
DC             1
ISI            1
BUI            1
FWI            1
Classes        2
dtype: int64

In [6]:
dataset[dataset.isnull().any(axis=1)]

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
122,Sidi-Bel Abbes Region Dataset,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,14,07,2012,37,37,18,0.2,88.9,12.9,14.6 9,12.5,10.4,fire,NaN

In [7]:
dataset convert into 2 sets 0 for bejai and 1 ofr sidi-bel

SyntaxError: invalid syntax (881808049.py, line 1)

In [ ]:
dataset.loc[:122,"region"]=0
dataset.loc[122:,"region"]=1
df=dataset
df.head()
df.iloc[122]

In [ ]:
df[['region']] = df[['region']].astype(int)

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

In [ ]:
#removing 122 row null value
df = df.dropna().reset_index(drop=True)
df.isnull().sum()

In [ ]:
df.iloc[[122]]

In [ ]:
df = df.drop(122).reset_index(drop=True)
df.columns

In [ ]:
## fix spaces in col name
df.columns=df.columns.str.strip()
df.columns

In [ ]:
## change datatypes of columns
df[['day', 'month', 'year', 'Temperature', 'RH', 'Ws']]=df[['day', 'month', 'year', 'Temperature', 'RH', 'Ws']].astype(int)

df.info()

In [ ]:
##changing other col to float datatype
##generic way(list comprehension)
objects=[features for features in df.columns if df[features].dtypes=='O']

for i in objects:
    if i != 'Classes':
        df[i]=df[i].astype(float)

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.head()

In [ ]:
## save the cleaned data
df.to_csv('Algerian_forest_fires_cleaned_data.csv',index=False)

In [ ]:
# EDA 

df_copy=df.drop(['day','month','year'],axis=1)

df_copy.head()

In [ ]:
#here is a problem coz there should be 2 classes, may be due to spaces and spelling, need to be fixed.
df_copy['Classes'].value_counts()

In [ ]:
df_copy.info()

In [ ]:
df.info()

In [ ]:
#encoding of categories in classes
df_copy['Classes'] = np.where(df_copy['Classes'].str.contains('not fire'),0,1)
df_copy['Classes']

In [ ]:
df_copy['Classes'].value_counts()

In [ ]:
##plot 
plt.style.use('seaborn-v0_8')
df_copy.hist(bins=50,figsize=(20,15))
plt.show()

In [ ]:
##percentage of pie chart
percentage = df_copy['Classes'].value_counts(normalize=True)*100

In [ ]:
#plotting pie chart
classlabels=["fire","not fire"]
plt.figure(figsize=(7,7))
plt.pie(percentage,labels=classlabels,autopct='%1.1f%%')
plt.title("pie chart of classes")
plt.show()

In [ ]:
df_copy.corr()

In [ ]:
sns.heatmap(df_copy.corr())
plt.show()

In [ ]:
##boxplots
sns.boxplot(df['FWI'],color='green')
plt.show()

In [ ]:
df.head()

In [ ]:
df['Classes']

In [ ]:
df['Classes'] = np.where(df['Classes'].str.contains('not fire'),'not fire','fire')

In [ ]:
##monthly fire analysis
dftemp=df.loc[df['region']==1]
plt.subplots(figsize=(13,6))
sns.set_style('whitegrid')
sns.countplot(x='month',hue='Classes',data=df)
plt.ylabel('number of fire', weight='bold')
plt.xlabel('months')
plt.title("fire analysis of sidi-bel region", weight='bold')
plt.show()

In [ ]:
dftemp=df.loc[df['region']==0]
plt.subplots(figsize=(13,6))
sns.set_style('whitegrid')
sns.countplot(x='month',hue='Classes',data=df)
plt.ylabel('number of fire', weight='bold')
plt.xlabel('months')
plt.title("fire analysis of bejajai region", weight='bold')
plt.show()

In [ ]:
## feature selection